:host ::ng-deep #footerHome {
  background-position: bottom;
  padding: 15px 15px 55px 15px;
}
:host ::ng-deep #footerHome .footer-content div{
  margin: 5px 0px;
}
:host ::ng-deep #footerHome .endereco {
  height: 31px;
  font-family: Abel;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
}
:host ::ng-deep #footerHome .email {
  height: 46px;
  font-family: Abel;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
}
:host ::ng-deep #footerHome .telefone {
  height: 46px;
  font-family: Abel;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: center;
}
:host ::ng-deep #footerHome img.image-selo-footer {
  position: absolute;
  top: 15px;
  right: 15px;
}
:host ::ng-deep .whats-footer {
  bottom: 15px;
  right: 15px;
  z-index: 10;
  
  background: rgb(0 0 0 / 20%);
  border-radius: 5px;
  transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
}